.mainpage .landing {
  /* height: 100vh; */
  overflow-x: hidden;
  background-image: url('/assets/61ee454fdcb00_latestBack.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.landing .land-header{
  font-size: 82px;
  margin-top: 160px;
  margin-bottom: 10px;
} 
.mainpage .landing .toborder {
  border-right: 1px solid #fff;
}
.sec-btn {
  border-radius: 3px;
  color: black;
  font-size: 16px;
  padding: 18px 70px;
  outline-offset: -2px;
  background-color: rgb(101, 214, 232);
  border-color: transparent;
  margin-top: 40px;
  font-weight:500;
  transition: 0.5s;
}
.sec-btn:hover{
  background-color: black;
  color: white;
}
.ex-up{
  width: 53%;
  margin: 6px auto;
}
.experince .ex-header{
  margin-bottom: 35px;
  outline-offset: -2px;
  font-size: 48px;
  color: rgb(62, 62, 62);
  font-weight: bold;
}
.experince .ex-parag{
  margin-bottom: 35px;
    outline-offset: -2px;
    font-size: 16px;
    color: rgb(172, 176, 177);
    font-weight: bold;
}
.item-list .item h5 {
  color: #4b4b4b;
  font-size: 17px;
  margin: 24px 0 0;
  font-weight: 600;
}
.count-section.chir{
  background: #D3DCE9 url('/assets/5feb5e338f4bd_chirply_icon_water_mark.png') no-repeat right 0 top 0 / auto 100%;
    border-top: 1px solid #C2CCDB;
    border-bottom: 1px solid #C2CCDB;
    padding: 100px 12%;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
}
.dy-items > a.chir::before{
  content: '';
  position: absolute;
  bottom: -60px;
  left: 50%;
  width: 0px;
  transform: translateX(-50%);
  height: 0px;
  /* background-color: red; */
  border-top: 15px solid transparent;
  border-bottom: 15px solid #D3DCE9;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
z-index: 4;
 
}
.dy-items > a.chir::after{
  content: '';
  position: absolute;
  bottom: -60px;
  left: 50%;
  width: 0px;
  transform: translateX(-50%);
  height: 0px;
  /* background-color: red; */
  border-top: 16px solid transparent;
  border-bottom: 16px solid #C2CCDB;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  z-index: 1;
}
.count-section.dom{
  background: #d2ffdd url('/assets/domain.png') no-repeat right 0 top -18px / auto 100%;
    border-top: 1px solid #b3e2bf;
    border-bottom: 1px solid #b3e2bf;
    padding: 100px 12%;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
}
.dy-items > a.dom::before{
  content: '';
  position: absolute;
  bottom: -60px;
  left: 50%;
  width: 0px;
  transform: translateX(-50%);
  height: 0px;
  /* background-color: red; */
  border-top: 15px solid transparent;
  border-bottom: 15px solid #d2ffdd;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
z-index: 4;
 
}
.dy-items > a.dom::after{
  content: '';
  position: absolute;
  bottom: -60px;
  left: 50%;
  width: 0px;
  transform: translateX(-50%);
  height: 0px;
  /* background-color: red; */
  border-top: 16px solid transparent;
  border-bottom: 16px solid #b3e2bf;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  z-index: 1;
}
.count-section.mag{
  background: #fef2f2 url('/assets/magic.png') no-repeat right 0 top 0px ;
    border-top: 1px solid #ebdada;
    border-bottom: 1px solid #ebdada;
    padding: 100px 12%;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dy-items > a.mag::before{
  content: '';
  position: absolute;
  bottom: -60px;
  left: 50%;
  width: 0px;
  transform: translateX(-50%);
  height: 0px;
  /* background-color: red; */
  border-top: 15px solid transparent;
  border-bottom: 15px solid #fef2f2;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
z-index: 4;
 
}
.dy-items > a.mag::after{
  content: '';
  position: absolute;
  bottom: -60px;
  left: 50%;
  width: 0px;
  transform: translateX(-50%);
  height: 0px;
  /* background-color: red; */
  border-top: 16px solid transparent;
  border-bottom: 16px solid #ebdada;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  z-index: 1;
}
.count-section.inv{
  background: #e1eaff url('/assets/inv.png') no-repeat right 0 top 0px ;
    border-top: 1px solid #c2cce4;
    border-bottom: 1px solid #c2cce4;
    padding: 100px 12%;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dy-items > a.inv::before{
  content: '';
  position: absolute;
  bottom: -60px;
  left: 50%;
  width: 0px;
  transform: translateX(-50%);
  height: 0px;
  /* background-color: red; */
  border-top: 15px solid transparent;
  border-bottom: 15px solid #e1eaff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
z-index: 4;
 
}
.dy-items > a.inv::after{
  content: '';
  position: absolute;
  bottom: -60px;
  left: 50%;
  width: 0px;
  transform: translateX(-50%);
  height: 0px;
  /* background-color: red; */
  border-top: 16px solid transparent;
  border-bottom: 16px solid #c2cce4;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  z-index: 1;
}
.count-section.sti{
  background: #ccfff5 url('/assets/sti.png') no-repeat right 0 top 0 ;
    border-top: 1px solid #aee0d6;
    border-bottom: 1px solid #aee0d6;
    padding: 100px 12%;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dy-items > a.sti::before{
  content: '';
  position: absolute;
  bottom: -60px;
  left: 50%;
  width: 0px;
  transform: translateX(-50%);
  height: 0px;
  /* background-color: red; */
  border-top: 15px solid transparent;
  border-bottom: 15px solid #ccfff5;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
z-index: 4;
 
}
.dy-items > a.sti::after{
  content: '';
  position: absolute;
  bottom: -60px;
  left: 50%;
  width: 0px;
  transform: translateX(-50%);
  height: 0px;
  /* background-color: red; */
  border-top: 16px solid transparent;
  border-bottom: 16px solid #aee0d6;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  z-index: 1;
}
.count-section.rob{
  background: #e6f2ff url('/assets/robo.png') no-repeat right 0 top 0 ;
    border-top: 1px solid #cddbe9;
    border-bottom: 1px solid #cddbe9;
    padding: 100px 12%;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dy-items > a.rob::before{
  content: '';
  position: absolute;
  bottom: -60px;
  left: 50%;
  width: 0px;
  transform: translateX(-50%);
  height: 0px;
  /* background-color: red; */
  border-top: 15px solid transparent;
  border-bottom: 15px solid #e6f2ff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
z-index: 4;
 
}
.dy-items > a.rob::after{
  content: '';
  position: absolute;
  bottom: -60px;
  left: 50%;
  width: 0px;
  transform: translateX(-50%);
  height: 0px;
  /* background-color: red; */
  border-top: 16px solid transparent;
  border-bottom: 16px solid #cddbe9;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  z-index: 1;
}
.count-section.lin{
  background: #f6f6f6 url('/assets/lin.png') no-repeat right 0 top 0 ;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 100px 12%;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dy-items > a.lin::before{
  content: '';
  position: absolute;
  bottom: -60px;
  left: 50%;
  width: 0px;
  transform: translateX(-50%);
  height: 0px;
  /* background-color: red; */
  border-top: 15px solid transparent;
  border-bottom: 15px solid #f6f6f6;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
z-index: 4;
 
}
.dy-items > a.lin::after{
  content: '';
  position: absolute;
  bottom: -60px;
  left: 50%;
  width: 0px;
  transform: translateX(-50%);
  height: 0px;
  /* background-color: red; */
  border-top: 16px solid transparent;
  border-bottom: 16px solid #dddddd;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  z-index: 1;
}
.count-section > div{
  position: relative;
}
.count-section > div span{
  color: #4b4b4b;
  font-size: 13px;
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
}
.count-section > div h3{
  display: block;
    font-size: 42px;
    color: #000;
    font-weight: 700;
}

.count-section > div:not(:last-of-type)::after{
position: absolute;
content: '';
width: 1px;
height: 100%;
background-color: rgba(0,0,0,.1);;
right: -50%;
top: 50%;
transform: translate(50% , -50%);
}
.count-section.sti > div:nth-of-type(3)::after{
  right: -17%;
}
.count-section.rob > div:nth-of-type(3)::after{
  right: -17%;
}
.count-section.lin > div::after{
  right: -110%;
}
.owners .leftSideImg{
max-width: 510px !important;
}
.owner-up .overImg {
  display: flex;
  justify-content: flex-end
}
.owner-up .owner-info{
padding: 0 100px;
}
.owner-up .owner-info h2{
  font-size: 40px;
  padding: 0 52px;
color: rgb(62, 62, 62);
line-height: 1.4;
margin-bottom: 50px;
}
.owner-up .owner-info p {
  text-align: center;
  color: #2c3f47;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;

}
.owner-up .owner-info img{
  margin: 50px auto 60px;
}
.partner .part-header{
  font-size: 30px;
  color: #000;
  margin-top: 40px;
  font-weight: bold;
  width: 40%;
  line-height: 1.2;

}
.partner .part-header b {
  font-weight: 900 !important;
  font-size: 43px
}
.partner p{
  color: #5a5a5a;
    font-size: 16px;
    margin-top: 40px;
    width:70%;
}
.partner button{
  padding: 12px 55px ;
}
footer p {
  color: rgb(62, 62, 62);
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 30px;
}
footer ul li{
  color: black;
  font-weight: 500;
  cursor: pointer;
}
footer ul li:hover{
  text-decoration: underline;
}
.sidemenu{
  /* top: 0;
  height: 100%;
  right: 0;
  width: 0;
  transition: 0.5s;
  display: none;
  background-color: #000; */
  top: 0;
  height: 100%;
z-index: 100;
  transition: 0.5s;
  position: fixed;
  text-align: left;
  overflow: scroll;
}
.menuactive{
  right: 0 ;
  width: 380px;
    padding: 30px 70px;

}
.menunoactive{
  right: 0 ;
  width: 0;
  padding: 0;
}
.sidemenu img {
  float: right;
}
.sidemenu ul {
  margin-top: 40px;
}
.sidemenu ul li {
  margin-bottom: 16px;
  color: rgb(62, 62, 62);
  font-weight: 500;
  transition: 0.4s;
  cursor: pointer;
}
.sidemenu ul li:hover{
  color: #337ab7;
  margin-left: 13px;
}
.sidemenu .number {
  margin-top: 50px;
}
.sidemenu .number span {
  color: #a2a2a2;
  font-size: 14px;
}
.sidemenu .number h3{
  color: #000;
    font-size: 28px;
    font-weight: 800;
}
.learn-more2 {
  background: #65d6e8;
  color: #000;
  font-size: 16px;

  border: none;
  border-radius: 30px;
  font-weight: 400;
padding: 14px 50px;
transition: 0.3s;
}
.learn-more2:hover{
  background-color: black;
  color: #65d6e8;
}
.modal-box{
  position: relative;
  overflow-y: visible !important;
}
.modal-box form .content .head > div {
  width: 463px !important;
  height: 298px !important;
}
.modal-box form .content .head .close {
  position: absolute;
  top: -10px;
  background-color: #e7593a;
  border-radius: 50%;
  padding: 6px;
  right: -7px;
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.modal-box form .content .head .close img {
  width: 15px;
  height: 15px;
}
 .dy-items > a{
  position: relative;
}
@media (max-width: 923px){
  .dy-items > a::after ,  .dy-items > a::before{
    display: none;
  }
}
@media (max-width: 488px) {
  footer ul:first-of-type{
    flex-wrap: wrap;
  }
  .dy-items > a::after ,  .dy-items > a::before{
    display: none;
  }
  .navBar >a > img{
    width: 167px;
  }
 .mainpage .landing .land-header{
font-size: 50px;
margin-top: 60px;
  }
  .mainpage .landing{
    height: fit-content;
    padding-bottom: 40px;
    background-position: center;
  }
  .ex-up{
    width: 100%;
  }
  .dy-items{
    flex-wrap: wrap;
    justify-content: center !important;
    gap: 60px !important;
  }
  .count-section{
    flex-wrap: wrap;
  }
  .count-section > div{
    flex-basis: 100%;
    margin-bottom: 28px;
  }
  .count-section > div::after{
    display: none;
  }
  .count-section > div h3{
    font-size: 32px;
  }
  .owner-up .owner-info{
    padding: 0;
  }
  .owner-up .owner-info h2{
    padding: 0;
    font-size: 37px;
  }
  .owner-up .owner-info p{
    font-size: 15px;
  }
.mainpage .partner > div > section{
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.mainpage .partner > div > section > section{
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
}
.mainpage .partner .part-header{
  width: 60%;
}
.mainpage .partner p{
  width: 100%;
}
.mainpage .landing .awards{
  flex-wrap: wrap;
}
.mainpage .landing .toborder{
  border-width: 0;
}
.mainpage .landing .awards > div {
  padding-right: 0;
  padding-left: 0;
}
.owners .leftSideImg {
  max-width: 250px !important;
  position: relative;
  left: -122px;
  top: -83px;
}
}